.navbar-brand svg{
    height: 32px;
    display: inline-block !important;
}
.bg{
    background-image: linear-gradient(#712cf9,rgba(113,34,249,.95));
    color: #fff;
}
.h480{
    height: 480px;
}
.navbar{
    padding: 13.3 16px;
}
.ml-auto{
    margin-left: auto !important;
}
.dropdown{
    margin-top: 0.1rem;
    
}
.dropdown>a{
    color: #FFFFFFd6;
}
.dropdown>a:hover{
    color: #fff;
}
.btn:first-child:active{
    color: #fff ;
}
.dropdown-diver{
    background-color: white;
}
.btn.show{
    color: #fff ;
}
.co .btn{
    border: 0;
}
.yes{
    color: #fff !important;
}
.dropdown-menu[data-bs-popper] {
    margin-top: 13px;
    border-radius: 0;
    margin-left: 10px;
}
.dropdown-menu {
    border-top: .25rem solid #3765f9;
}
.s{
    margin-left: 40px !important;
}
h1.h1Title{
    font-size: 6rem!important;
      
}
.sub-Title{
    font-size: 1.2rem;
    color: #FFFFFFd6;
}
.pt-60{
    padding-top: 60px;
}
.h20{
    height: 20rem;
    padding: 60px;
}
.h60{
    height: 60px;
}
.z-index-3{
    z-index: 3;
}
.a-center{
    left: 0;
    right: 0;
    margin: auto!important;
}
@media (max-width: 992px) {
    h1.h1Title{
        font-size: calc(2rem + 5vw)!important;
    }
}
@media (min-width: 768px) {
    .border-md-right{
        border-right: 1px solid #dee2e6 !important;
        border-bottom: 0px  !important;
    }
}
.shadow-box{
    box-shadow: 0 30px 50px -30px rgba(44, 44, 44, 0.459);
}
.pd{
    padding: 6rem 2rem;
    
}
.bth-raduis{
    border-radius: 2rem;
    margin: 0.25rem 0.25rem;
}
.z-index-3{
    z-index: 3;
}
.bg-li{
    margin-top: -6rem;
    /* position: relative; */
    background-color: white;
    border-radius: 5px;
}
.svg-w-h{
    width: 3rem;
    height: auto;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
.main{
    margin-top: 50px;
}
.carder-header{
    padding: 0.5rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.315) ;
}
.card{
    max-width: 310px;
    margin: 10px;
    margin-right: 0;
}
.carder-body{
    padding: 16px;
}
@media (max-width:576px) {
    .row-col-xs-1{
        width: 310px;
        flex:0 0 100% ;
    }
}
@media (min-width:576px) {
    .row-col-sm-2{
        width: 50%;
        flex:0 0 50% ;
    }
}
@media (min-width:768px) {
    .row-col-md-3{
        width: 33.333%;
        flex:0 0 33.3333% ;
    }
}
@media (min-width:992px) {
    .row-col-lg-4{
        max-width: 25%;
        flex:0 0 25%;
        
    }
}
